In [147]:
import pandas as pd
import argparse
from datetime import datetime
covid = pd.read_csv('data/owid-covid-data.csv',encoding = 'ISO-8859-1')

In [148]:
covid['bool'] = covid['date'].str.contains('2020')

In [132]:
covid['bool'].bool

<bound method NDFrame.bool of 0         True
1         True
2         True
3         True
4         True
         ...
74861    False
74862    False
74863    False
74864    False
74865    False
Name: bool, Length: 74866, dtype: bool>

In [153]:
c = 0
for i in covid['bool']:
    if i == False:
        covid = covid.drop([c])
    c += 1

In [154]:
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,bool
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74788,ZWE,Africa,Zimbabwe,2020-12-27,13077.0,114.0,107.429,349.0,8.0,4.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True
74789,ZWE,Africa,Zimbabwe,2020-12-28,13148.0,71.0,103.714,354.0,5.0,4.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True
74790,ZWE,Africa,Zimbabwe,2020-12-29,13325.0,177.0,111.571,359.0,5.0,4.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True
74791,ZWE,Africa,Zimbabwe,2020-12-30,13625.0,300.0,138.429,360.0,1.0,4.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True
74792,ZWE,Africa,Zimbabwe,2020-12-31,13867.0,242.0,154.429,363.0,3.0,3.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True

In [155]:
month = []

In [156]:
for i in covid['date']:
    month.append(i[5:7])

In [157]:
month

['02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 ...]

In [158]:
covid['month'] = month

In [159]:
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,bool,month
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True,02
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True,02
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True,02
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True,02
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,True,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74788,ZWE,Africa,Zimbabwe,2020-12-27,13077.0,114.0,107.429,349.0,8.0,4.143,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True,12
74789,ZWE,Africa,Zimbabwe,2020-12-28,13148.0,71.0,103.714,354.0,5.0,4.571,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True,12
74790,ZWE,Africa,Zimbabwe,2020-12-29,13325.0,177.0,111.571,359.0,5.0,4.714,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True,12
74791,ZWE,Africa,Zimbabwe,2020-12-30,13625.0,300.0,138.429,360.0,1.0,4.286,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True,12
74792,ZWE,Africa,Zimbabwe,2020-12-31,13867.0,242.0,154.429,363.0,3.0,3.429,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,True,12

In [161]:
covid_1 = covid.groupby(['location','month'])['total_cases', 'new_cases', 'total_deaths', 'new_deaths'].sum()

In [166]:
covid_1

                   total_cases  new_cases  total_deaths  new_deaths
location    month
Afghanistan 02             6.0        1.0           0.0         0.0
            03          1164.0      174.0          27.0         4.0
            04         27074.0     1952.0         890.0        60.0
            05        225674.0    13081.0        5007.0       194.0
            06        750944.0    16299.0       15016.0       494.0
...                        ...        ...           ...         ...
Zimbabwe    08        163293.0     3328.0        4136.0       135.0
            09        223571.0     1341.0        6617.0        26.0
            10        251343.0      529.0        7230.0        15.0
            11        268984.0     1583.0        7811.0        33.0
            12        366341.0     3917.0        9807.0        87.0

[2072 rows x 4 columns]

In [167]:
covid_1['case_fatality_rate'] = covid_1['total_deaths'] / covid_1['total_cases']

In [168]:
covid_1

                   total_cases  new_cases  total_deaths  new_deaths  \
location    month
Afghanistan 02             6.0        1.0           0.0         0.0
            03          1164.0      174.0          27.0         4.0
            04         27074.0     1952.0         890.0        60.0
            05        225674.0    13081.0        5007.0       194.0
            06        750944.0    16299.0       15016.0       494.0
...                        ...        ...           ...         ...
Zimbabwe    08        163293.0     3328.0        4136.0       135.0
            09        223571.0     1341.0        6617.0        26.0
            10        251343.0      529.0        7230.0        15.0
            11        268984.0     1583.0        7811.0        33.0
            12        366341.0     3917.0        9807.0        87.0

                   case_fatality_rate
location    month
Afghanistan 02               0.000000
            03               0.023196
            04               0.032873
            05               0.022187
            06               0.019996
...                               ...
Zimbabwe    08               0.025329
            09               0.029597
            10               0.028765
            11               0.029039
            12               0.026770

[2072 rows x 5 columns]

In [169]:
covid_1.to_csv("owid-covid-data-2020-monthly.csv")

In [ ]:
covid_2020.groupby(['location','month'])['total_cases', 'new_cases', 'total_deaths', 'new_deaths'].sum()